<!DOCTYPE html>
<html lang="en" ng-app="restaurant">
<head>
  <meta charset="UTF-8">
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/RestaurantsController.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <title>Best Restaurants</title>
</head>
<body>
  <div class="container" ng-controller="RestaurantCtrl">
    <div class="row col-md-12">
      <h1 class='page-header'>Best Restaurants</h1>

      <div class="row">
        <div class="col-sm-12">
          <h4>Search Restaurants</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="query" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="well" ng-repeat="item in restaurants | filter:query">
        <span ng-click="editing = true" ng-hide="editing">
          <p class="lead">{{item.name}} <a ng-click='editRestaurant(item)' class='pull-right'>Edit</a></p>
          <p><strong>Location:</strong> {{item.location}}</p>
          <p><strong>Food:</strong> {{item.foodType}}</p>
          <p><strong>Average Prices:</strong> {{item.priceRange | currency}}</p>
          <div ng-repeat="review in item.reviews">
            <p>{{review}}</p>
          </div>
        </span>

        <span ng-click="review = true" ng-hide="review">
          <a>Add Review</a>
        </span>

        <span class="form-group" ng-show="editing" ng-submit="editing = false">
          <form role="form">
            <div class="form-group">
              <label>Name</label>
              <input type="text" ng-model="item.name">
            </div>
            <div class="form-group">
              <label>Location</label>
              <input type="text" ng-model="item.location">
            </div>
            <div class="form-group">
              <label>Food Type</label>
              <input type="text" ng-model="item.foodType">
            </div>
              <div class="form-group">
              <label>Price Range</label>
              <input type="text" ng-model="item.priceRange">
            </div>
            <button type="submit" class="btn btn-default">Save</button>
          </form>
        </span>

        <span class="form-group" ng-show="review" ng-submit="review = false">
          <form ng-submit="addReview(item)" role="form">
            <div class="form-group">
              <input cols="60" rows="10" ng-model="item.restaurantReview" placeholder="Add A Review">
            </div>
            <button class="btn btn-default">Save</button>
          </form>
        </span>
      </div>
    </div>

    <div class="col-md-6 jumbotron">
      <h2>New Restaurant</h2>
      <form ng-submit="addRestaurant()" role="form">
        <div class="form-group">
          <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
          <input type="text" ng-model="restaurantLocation" class="form-control" placeholder="Enter Location" required>
        </div>
        <div class="form-group">
          <input type="text" ng-model="restaurantFoodType" class="form-control" placeholder="Enter Food Type">
        </div>
        <div class="form-group">
          <input type="text" ng-model="restaurantPriceRange" class="form-control" placeholder="Enter Price Range">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
